.icons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 30px;
  margin: 0 auto;
  width: 150px;
}

.footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 50px;
}

.icons a {
  color: #6e6;
}
